*{
	padding: 0;
	margin: 0;
}
body
{
	position: relative;
	z-index: 0;
	background: url(homefish-back.jpg) fixed center;
	font-family: sans-serif;
	color: white;
	font: ;
}

@media

#back
{
	position: fixed;
	background-color: black;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	z-index: 1;
}
#container
{
	width: 800px;
	position: relative;
	z-index: 3;
	margin: 0 auto;
}

#menu
{
	text-align: center;
}

#logo
{
	float: left;
	margin-bottom: 80px;
}

#links
{
	float: right;
	margin-top: 50px;
}
#links span
{
	margin-left: 30px;
}
#links span a
{
	color: white;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	padding: 20px;
}
#links span a:hover
{
	text-decoration: underline;
	font-size: 25px;
	transition: 1s;
}


#texto
{
	margin-top: 90px;
}

#texto h1
{
	font-size: 3em;
	margin-bottom: 20px;
	width: 600px;
}

#texto h3
{

	margin-bottom: 80px;
	width: 400px;
	font-style: italic;
}
#texto h2 
{
	margin-bottom: 20px;
}

input
{
	font-weight: bold;
	font-size: 1.3em;
	width: 300px;
	height: 50px;
	border-radius: 10px;
	color: white;
	background: blue;
	border: 0;
}
input:hover
{
	background-color: white;
	color: black;
}

.clear
{
	clear: both;
}